{{#partial "content"}}
    <!--It's useful to put a comment at the top of your hbs file to help you keep track of what is what when things get more complex.-->

    <h1>Staff App | Departments </h1>
    <p>Department</p>
    <p>Welcome. Platform for staff to access internal news updates</p>
    <p><a href='/' >Safaricom Home Internal.</a></p>
    <p><a href='/departments' >Department</a></p>
    <p><a href='/users' >Staff</a></p>
    <p><a href='/news' >News</a></p>
    <p><a href='/success' >Success</a></p>
    <p><a href='/faqs' >FAQs.</a></p>
    <hr>

    {{#if editDepartment}}
        <h1>Edit this Department!</h1>
        <form action="//{{department.id}}" method="post">
            <label for="name">Edit this department's name</label>
            <input id="newDepartmentName" name="newDepartmentName" type="text" value="{{department.name}}">
            <button type="submit" class="btn btn-default">Update!</button>
        </form>
    {{else}}
        <h1>Add a new Department!</h1>
        <form action="/departments" method="post">
            <label for="name">Department Name</label>
            <input id="name" name="name" type="text">
            <button type="submit" class="btn btn-default">Add!</button>
        </form>
    {{/if}}

    <hr>



{{/partial}}

{{> layout.hbs}}